{
    "semi": false,
    "tabWidth": 2,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "singleQuote": true,
    "useTabs": true,
    "objectWrap": "collapse",
    "bracketSpacing": true,
    "trailingComma": "none"
}